.nav-item{
    padding-left:29px;
    font-size:22px;
}
.nav-bar{
    display: flex;
    align-items:center;
    justify-content: flex-end;
    /* justify-content:top;
     */
    top: 0;
    width: 100%;
    z-index: 1000;               
    background-color: white;     
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    position: absolute ;
    /* margin:none; */
}
.nav-item input{
    width:600px;
    border:none;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.04); 
    margin:.4rem;
    border-radius:13px;

}